<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="header::Layout(~{::body})">
<head>
<meta charset="utf-8">
</head>
<body>
    <section>
        <h1></h1>
         <!-- carousel start -->
            <div id="carouselExampleControls" class="container carousel slide" data-bs-ride="carousel">
                <!-- marquee -->
               <!-- marquee start  -->
<div class="marquee-box container" style="display: flex">
            <h4><i class="fa fa-microphone" aria-hidden="true"></i>
                News</h4>
            <div class="marquee">
                <div style="width: 100000px; transform: translateX(258px); animation: 3095.81s linear 0s infinite normal none running marqueeAnimation-2276167;" class="js-marquee-wrapper">
                    <div class="js-marquee" style="margin-right: 0px; float: left;"><a><span>06 Sep 2021</span>England vs India... Markets :- Chris Woakes Runs and Chris Woakes Boundaries ..This 2 markets are for England 2nd Innings... Please Consider these 2 as Chris Woakes Runs (2) and Chris Woakes Boundaries (2).</a><a><span>05 Sep 2021</span>S/R TENNIS Fucsovics/Travaglia v Krawietz/Tecau 1st set game 2 - winner
                            S/R TENNIS Klaasen/Mclachlan v Krueger/Mmoh 2nd set - winner
                            S/R TENNIS Svajda v Sinner3rd set game 9 - winner
                            S/R TENNIS Svajda v Sinner3rd set game 6 - winner
                            S/R TENNIS Klaasen/Mclachlan v Krueger/Mmoh3rd set game 7 - winner
                            S/R TENNIS Klaasen/Mclachlan v Krueger/Mmoh3rd set game 5 - winner
                            Due To wrong odds offered all bets under this markets have been voided ..Sorry For the inconvenience Caused.
                        </a><a><span>05 Sep 2021</span>S/R TENNIS Kasatkina/Kontaveit v Li/Riske1st set game 8 - winner
                            S/R TENNIS Kasatkina/Kontaveit v Li/Riske1st set game 6 - winner
                            S/R TENNIS Kasatkina/Kontaveit v Li/Riske1st set game 2 - winner
                            S/R TENNIS Linette/Pera v Krejcikova/Siniakova2nd set game 10 - winner
                            S/R TENNIS Linette/Pera v Krejcikova/Siniakova2nd set game 1 - winner
                            S/R TENNIS Linette/Pera v Krejcikova/Siniakova1st set game 8 - winner
                            Due To wrong odds offered all bets under this markets have been voided ..Sorry For the inconvenience Caused.</a><a><span>05 Sep 2021</span>S/R TENNIS Eubanks/Fratangelo v Monroe/Tiafoe3rd set game 7 - winner
                            S/R TENNIS Linette/Pera v Krejcikova/Siniakova2nd set game 10 - winner
                            S/R TENNIS Fucsovics/Travaglia v Krawietz/Tecau1st set game 2 - winner
                            S/R TENNIS Klaasen/Mclachlan v Krueger/Mmoh1st set game 3 - winner
                            S/R TENNIS Svajda v Sinner2nd set game 9 - winner
                            S/R TENNIS Svajda v Sinner2nd set game 3 - winner
                            S/R TENNIS Svajda v Sinner2nd set game 2 - winner
                            S/R TENNIS Svajda v Sinner1st set game 9 - winner
                            Due To wrong odds offered all bets under this markets have been voided ..Sorry For the inconvenience Caused.</a><a><span>05 Sep 2021</span>S/R TENNIS Ferreira Silva v Viola1st set game 6 - winner
                            S/R TENNIS Kozlov v Verdasco3rd set game 7 - winner
                            S/R TENNIS J Sousa v Ortega-Olmedo1st set game 7 - winner
                            S/R TENNIS J Sousa v Ortega-Olmedo1st set game 4 - winner
                            S/R TENNIS Bortolotti/Cuevas v Erler/Miedler1st set game 4 - winner
                            S/R TENNIS Agamenone v Kovalik2nd set game 4 - winner
                            S/R TENNIS Ferreira Silva v Viola1st set game 6 - winner
                            Due To wrong odds offered all bets under this markets have been voided ..Sorry For the inconvenience Caused.</a><a><span>05 Sep 2021</span>S/R TENNIS Mchale/Olmos v Fernandez/Routliffe1st set game 10 - winner
                            S/R TENNIS Mchale/Olmos v Fernandez/Routliffe1st set game 6 - winner
                            S/R TENNIS Mchale/Olmos v Fernandez/Routliffe1st set game 5 - winner
                            S/R TENNIS Mchale/Olmos v Fernandez/Routliffe1st set game 3 - winner
                            S/R TENNIS V Pospisil v Ivashka3rd set game 12 - winner
                            S/R TENNIS Kudla v Otte2nd set game 4 - winner
                            Due To wrong odds offered all bets under this markets have been voided ..Sorry For the inconvenience Caused.</a><a><span>05 Sep 2021</span>S/R TENNIS Svajda v Sinner3rd set game 11 - winner
                            S/R TENNIS Svajda v Sinner3rd set game 9 - winner
                            S/R TENNIS Svajda v Sinner3rd set game 8 - winner
                            S/R TENNIS Svajda v Sinner3rd set game 5 - winner
                            S/R TENNIS Svajda v Sinner3rd set game 4 - winner
                            S/R TENNIS Svajda v Sinner2nd set game 12 - winner
                            S/R TENNIS Svajda v Sinner2nd set game 9 - winner
                            S/R TENNIS Svajda v Sinner2nd set game 8 - winner
                            S/R TENNIS Svajda v Sinner2nd set game 5 - winner
                            S/R TENNIS Svajda v Sinner2nd set game 3 - winner
                            S/R TENNIS Svajda v Sinner2nd set game 2 - winner
                            S/R TENNIS Ferreira Silva v Viola1st set game 6 - winner
                            Due To wrong odds offered all bets under this markets have been voided ..Sorry For the inconvenience Caused.</a><a><span>05 Sep 2021</span>S/R TENNIS Mchale/Olmos v Fernandez/Routliffe2nd set game 4 - winner
                            S/R TENNIS Mchale/Olmos v Fernandez/Routliffe2nd set game 1 - winner
                            S/R TENNIS Geerts v Barrios Vera3rd set game 6 - winner
                            S/R TENNIS Geerts v Barrios Vera3rd set game 4 - winner
                            S/R TENNIS Geerts v Barrios Vera3rd set game 3 - winner
                            S/R TENNIS Svajda v Sinner3rd set game 11 - winner
                            S/R TENNIS Svajda v Sinner3rd set game 8 - winner
                            S/R TENNIS Svajda v Sinner3rd set game 5 - winner
                            S/R TENNIS Svajda v Sinner3rd set game 4 - winner
                            Due To wrong odds offered all bets under this markets have been voided ..Sorry For the inconvenience Caused.</a><a><span>05 Sep 2021</span>S/R TENNIS Linette/Pera v Krejcikova/Siniakova2nd set game 10 - winner
                            S/R TENNIS Svajda v Sinner3rd set game 2 - winner
                            S/R TENNIS Svajda v Sinner2nd set game 12 - winner
                            S/R TENNIS Svajda v Sinner2nd set game 5 - winner
                            S/R TENNIS Svajda v Sinner2nd set game 2 - winner
                            S/R TENNIS Mchale/Olmos v Fernandez/Routliffe2nd set game 1 - winner
                            S/R TENNIS Mchale/Olmos v Fernandez/Routliffe1st set game 6 - winner
                            S/R TENNIS Mchale/Olmos v Fernandez/Routliffe1st set game 5 - winner
                            Due To wrong odds offered all bets under this markets have been voided ..Sorry For the inconvenience Caused.</a><a><span>05 Sep 2021</span>S/R TENNIS Kuzmanov v Lacko2nd set game 8 - winner
                            S/R TENNIS Svajda v Sinner2nd set game 12 - winner
                            S/R TENNIS Svajda v Sinner2nd set game 9 - winner
                            S/R TENNIS Mchale/Olmos v Fernandez/Routliffe2nd set game 1 - winner
                            S/R TENNIS Mchale/Olmos v Fernandez/Routliffe1st set game 8 - winner
                            S/R TENNIS Mchale/Olmos v Fernandez/Routliffe1st set game 5 - winner
                            Due To wrong odds offered all bets under this markets have been voided ..Sorry For the inconvenience Caused.</a><a><span>05 Sep 2021</span>S/R TENNIS Linette/Pera v Krejcikova/Siniakova1st set game 5 - winner
                            S/R TENNIS Linette/Pera v Krejcikova/Siniakova1st set game 8 - winner
                            S/R TENNIS Linette/Pera v Krejcikova/Siniakova1st set game 9 - winner
                            S/R TENNIS Linette/Pera v Krejcikova/Siniakova2nd set game 4 - winner
                            S/R TENNIS Linette/Pera v Krejcikova/Siniakova2nd set game 10 - winner
                            Due To wrong odds offered all bets under this markets have been voided ..Sorry For the inconvenience Caused.</a><a><span>05 Sep 2021</span>S/R TENNIS Kasatkina/Kontaveit v Li/Riske1st set game 3 - winner
                            S/R TENNIS Kasatkina/Kontaveit v Li/Riske1st set game 4 - winner
                            S/R TENNIS Kasatkina/Kontaveit v Li/Riske1st set game 5 - winner
                            S/R TENNIS Kasatkina/Kontaveit v Li/Riske1st set game 6 - winner
                            S/R TENNIS Kasatkina/Kontaveit v Li/Riske1st set game 8 - winner
                            S/R TENNIS Kasatkina/Kontaveit v Li/Riske1st set game 7 - winner
                            S/R TENNIS Kasatkina/Kontaveit v Li/Riske2nd set game 1 - winner
                            S/R TENNIS Kasatkina/Kontaveit v Li/Riske2nd set game 2 - winner
                            S/R TENNIS Kasatkina/Kontaveit v Li/Riske2nd set game 3 - winner
                            S/R TENNIS Kasatkina/Kontaveit v Li/Riske2nd set game 7 - winner
                            S/R TENNIS Kasatkina/Kontaveit v Li/Riske2nd set game 8 - winner
                            Due To wrong odds offered all bets under this markets have been voided ..Sorry For the inconvenience Caused.</a><a><span>05 Sep 2021</span>S/R TENNISSantamaria/Lammons v Podoroska/Gonzalez2nd set - winner
                            S/R TENNISSantamaria/Lammons v Podoroska/Gonzalez2nd set - race to 2 games
                            S/R TENNISSantamaria/Lammons v Podoroska/Gonzalez1st set - winner
                            S/R TENNISSanders/Saville v Bencic/Polasek2nd set - race to 4 games
                            S/R TENNISPopyrin v Evans4th set - total games
                            ​
                            Due To wrong odds offered all bets under this markets have been voided ..Sorry For the inconvenience Caused.</a><a><span>03 Sep 2021</span>S/R TENNIS Nakashima v Molcan1st set game 4 - winner
                            S/R TENNIS Nakashima v Molcan1st set game 9 - winner
                            S/R TENNIS Nakashima v Molcan2nd set game 1 - winner
                            Due To wrong odds offered all bets under this markets have been voided ..Sorry For the inconvenience Caused.</a><a><span>03 Sep 2021</span>S/R TENNISNakashima v Molcan3rd set game 3 - winner
                            from 2021-09-01 23:28:26 pm till 2021-09-01 23:29:30 pm
                            Due To wrong odds offered all bets under this markets have been voided ..Sorry For the inconvenience Caused.</a><a><span>01 Sep 2021</span>【S/R TENNIS Thompson v Mager 4th set game 3 - winner】
                            【S/R TENNIS Thompson v Mager 4th set game 8 - winner】
                            【S/R TENNIS Hsieh v Cl Liu 2nd set game 4 - winner】
                            【S/R TENNIS Hsieh v Cl Liu 2nd set game 8 - winner】
                            Due To wrong odds offered all bets under this markets have been voided ..Sorry For the inconvenience Caused .</a><a><span>01 Sep 2021</span>S/R TENNIS Diyas v Anisimova 2nd set game 5 - winner
                            S/R TENNIS Thompson v Mager 2nd set game 9 - winner
                            S/R TENNIS Thompson v Mager 2nd set game 9 - winner
                            S/R TENNIS Thompson v Mager 2nd set game 8 - winner
                            S/R TENNIS Thompson v Mager 2nd set game 4 - winner
                            S/R TENNIS Thompson v Mager 2nd set game 1 - winner
                            S/R TENNIS Thompson v Mager 1st set game 6 - winner
                            Due To wrong odds offered all bets under this markets have been voided ..Sorry For the inconvenience Caused .</a><a><span>27 Aug 2021</span>TRADE EQUITY - INDEX - EQUITIES - FOREX - CRYPTO Now available on Skyexchange .</a><a><span>23 Aug 2021</span>MT5 is available now on Skyexchange - Enjoy Trading in International commodities.</a><a><span>03 Aug 2021</span>Advance Bets on all market are now available on skyfair.com</a><a><span>30 Jul 2021</span>skyfair.com
                            check our new website</a><a><span>30 Jul 2021</span>www.skyfair.com
                            demo users-
                            demo01
                            demo02
                            demo03
                            Pass-Abcd1234</a></div>
                </div>
            </div>
        </div>

        <!-- marquee end  -->
                <!-- marquee end  -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                        aria-label="Slide 6"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6"
                        aria-label="Slide 7"></button>
                </div>  
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/user/img/banner-one.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/user/img/banner-two.jpg" class="d-block w-100" alt="...">
                    </div>

                    <div class="carousel-item">
                        <img src="/user/img/banner-three.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/user/img/banner-four.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/user/img/banner-five.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/user/img/banner-six.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/user/img/banner-7.png" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- carousel end  -->

            <!-- Images start  -->
            <div class="gamehall-wrap-simple container">
                <a style="cursor: pointer">
                    <dl id="onLiveBoard" class="on_live">
                        <dt>
                            <p class="live_icon"><span><svg width="14" height="8" xmlns="http://www.w3.org/2000/svg">
                                        <g fill="rgb(255,0,0)" fill-rule="evenodd">
                                            <path
                                                d="M12.012 0l-.698.727c1.734 1.808 1.734 4.738 0 6.546l.698.727c2.117-2.207 2.117-5.79 0-8zM10.3 1.714l-.7.735c.967 1.014.967 2.66 0 3.673l.7.735c1.352-1.418 1.352-3.721 0-5.143zM1.588 0l.698.727c-1.734 1.808-1.734 4.738 0 6.546L1.588 8c-2.117-2.207-2.117-5.79 0-8zM3.3 1.714l.7.735c-.967 1.014-.967 2.66 0 3.673l-.7.735c-1.352-1.418-1.352-3.721 0-5.143z" />
                                            <circle cx="6.8" cy="4.4" r="1.6" />
                                        </g>
                                    </svg></span>
                                LIVE</p>
                        </dt>
                        <dd id="onLiveCount_CRICKET">
                            <p>Cricket</p><span id="count">2</span>
                        </dd>
                        <dd id="onLiveCount_SOCCER">
                            <p>Soccer</p><span id="count">0</span>
                        </dd>
                        <dd id="onLiveCount_TENNIS">
                            <p>Tennis</p><span id="count">3</span>
                        </dd>
                    </dl>
                    <dl class="entrance-title">
                        <dt>Sports</dt>
                        <dd><span>Play Now</span></dd>
                    </dl>
                    <img src="/user/img/banner-sports.png" alt="" draggable="false">
                </a>
                <!-- SABA sports -->
                <a style="cursor: pointer">
                    <dl class="entrance-title">
                        <dt>Saba Sports Book</dt>
                        <dd>
                            Play Now</dd>
                    </dl>
                    <img src="/user/img/banner-sports-one.png" alt="" draggable="false">
                </a>
                <!-- SABA sports kabaddi -->
                <a id="casinoLoginBtn " style="cursor: pointer">
                    <dl class="entrance-title">
                        <dt>Live Casino</dt>
                        <dd><span>Play Now</span></dd>
                    </dl>
                    <img id="show" src="/user/img/banner-casino.png" alt="" draggable="false">
                </a>
                <!-- BetGames -->

                <a class="entrance-half" style="cursor: pointer">
                    <dl class="entrance-title">
                        <dt>BetGames</dt>
                        <dd><span>Play Now</span></dd>
                    </dl>
                    <img src="/user/img/banner-betgames-half.png" alt="" draggable="false">
                </a>
                <!-- KM Andar Bahar -->
                <a class="entrance-half" style="cursor: pointer">
                    <dl class="entrance-title">
                        <dt>Andar Bahar</dt>
                        <dd><span>Play Now</span></dd>
                    </dl>
                    <img src="/user/img/banner-andarBahar-half.png" alt="" draggable="false">
                </a>
                <a class="entrance-half" style="cursor: pointer">
                    <dl class="entrance-title">
                        <dt>Sicbo</dt>
                        <dd><span>Play Now</span></dd>
                    </dl>
                    <img src="/user/img/banner-sicbo-half.png" class="Sicbo-img" alt="" draggable="false">
                </a>
                <a class="entrance-half" style="cursor: pointer">
                    <dl class="entrance-title">
                        <dt>7 UP 7 Down</dt>
                        <dd><span>Play Now</span></dd>
                    </dl>
                    <img src="/user/img/banner-mt5-half.png" alt="" draggable="false">

                    <a class="entrance-half" style="cursor: pointer">
                        <dl class="entrance-title">
                            <dt>Coin Toss</dt>
                            <dd><span>Play Now</span></dd>
                        </dl>
                        <img src="/user/img/banner-CoinToss-half.png" alt="" draggable="false">
                    </a>
                    <!-- Teen Patti -->

                    <a class="entrance-half" style="cursor: pointer">
                        <dl class="entrance-title">
                            <dt>Teen Patti</dt>
                            <dd><span>Play Now</span></dd>
                        </dl>
                        <img src="/user/img/banner-teenPatti-half.png" alt="" draggable="false">
                    </a>
                    <a class="entrance-half" style="cursor: pointer">
                        <dl class="entrance-title">
                            <dt>Card Matka</dt>
                            <dd><span>Play Now</span></dd>
                        </dl>
                        <img src="/user/img/banner-cardMatka-half.png" class="card-img" alt="" draggable="false">
                    </a>
                    <a class="entrance-half" style="cursor: pointer">
                        <dl class="entrance-title">
                            <dt>Number Matka</dt>
                            <dd><span>Play Now</span></dd>
                        </dl>
                        <img src="/user/img/banner-numberMatka-half.png" alt="" draggable="false">
                    </a>
                    <a class="entrance-half" style="cursor: pointer">
                        <dl class="entrance-title">
                            <dt>Binary</dt>
                            <dd><span>Play Now</span></dd>
                        </dl>
                        <img src="/user/img/banner-binary-half.png" alt="" draggable="false">
                    </a>
                    <a class="entrance-half" style="cursor: pointer">
                        <dl class="entrance-title">
                            <dt>MT5</dt>
                            <dd><span>Play Now</span></dd>
                        </dl>
                        <img src="/user/img/banner-mt5-half.png" alt="" draggable="false">
                    </a>
                    <a class="entrance-half" style="cursor: pointer">
                        <dl class="entrance-title">
                            <dt>Virtual Sports</dt>
                            <dd><span>Play Now</span></dd>
                        </dl>
                        <img src="/user/img/banner-virtualsports-half.png" class="virtual-img" alt="" draggable="false">
                    </a>
            </div>
            <!-- images end  -->
          <div class="footer">
    <div id="supportWrap" class="support-wrap container">
        <div class="support-service">
            <a id="support_email" href="#" class="support-mail open supmail"><img src="/user/img/transparent.gif" title="Email"></a>
            <a id="support_whatsapp" href="#" class="support-whatsapp subweb"><img src="/user/img/transparent.gif" title="WhatsApp"></a>
            <a id="support_telegram" href="#" class="support-telegram subinfo"><img src="/user/img/transparent.gif" title="Telegram"></a>
            <a id="support_skype" href="#" class="support-skype subskype"><img src="/user/img/transparent.gif" title="Skype"></a>
            <a id="support_instagram" href="#" class="support-ig subinsta"><img src="/user/img/transparent.gif" title="Instagram"></a>
        </div>
        <div class="support-info">
            <div id="supportDetail_email" class="support-detail supmail open"><a href="mailto:info@skyexchange.com">info@skyexchange.com</a></div>
            <div id="supportDetail_whatsapp" class="support-detail subweb">
                <a href="">+351913343771 </a>
                <a href="">+351912085916</a>
            </div>
            <div id="supportDetail_telegram" class="support-detail subinfo">
                <a href="">www.t.me/officialskyexchangeinfo</a>
                <a href="">www.t.me/skyexchangecustomersupport</a>
            </div>
            <div id="supportDetail_skype" class="support-detail subskype">
                <a href="">skyexchangeofficial</a>
            </div>
            <div id="supportDetail_instagram" class="support-detail subinsta">
                <a href="" class="ui-link" target="_blank">officialskyexchange</a>
            </div>
        </div>
    </div>
    <div class="power-wrap">
        <h3 id="powerWrapW">
            <span>Powered by</span>
            <img src="/user/img/betfair.png">
        </h3>
        <div class="vl"></div>
        <div class="licence_embed">
            <img src="/user/img/gc-logo.png" width="150" height="50" style="border:none;">
        </div>
        <p>Skyexchange is operated by Sky Infotech N.V. a limited liability company incorporated under the laws of Curacao with company Registration number 152377 with registered office at Abraham de Veerstraat 9 , Curacao P.O Box 3421 and is licensed and regulated by the Curacao authority as the regulatory body responsible holding a (Sub-license with License number 365/JAZ Sub-License GLH- OCCHKTW0707072017 granted on 6.07.2017).
            <br>
            Players are requested not to contact any untrusted sources for skyexchange.com accounts as this is an online site and they can only register independently without any agents. Only deposit through the account details generated by the system or provided by our official support team.
        </p>
    </div>
    <!-- Browser Support -->
    <div class="browser-wrap container">
        <img src="/user/img/website.png">
        <img src="/user/img/world.png" class="world-img">
        <p>Our website works best in the newest and last prior version of these browsers: <br>Google Chrome. Firefox</p>
    </div>
    <ul class="policy-link">
        <!-- Policy and TC link -->
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms and Conditions</a></li>
        <li><a href="#">Rules and Regulations</a></li>
        <li><a href="#">KYC</a></li>
        <li><a href="#">Responsible Gaming</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Self-exclusion Policy</a></li>
        <li><a href="#">Underage Policy</a></li>
    </ul>
    <div class="app-link" style="display:block;">
        <a href="#"><img src="/user/img/btn-appdl.png" alt=""></a>
        <p>v1.07 - 2020-11-11 - 8.2MB</p>
    </div>
</div>
            <!-- casino form (popup) -->
            <div id="common_transfer_to_go" class="overlay" style="display: none;">
                <div id="commonDialogWrap" class="dialog-wrap-w transfer-wrap-slider">
                    <a id="closeCommonDepositModal" class="close"><i class="fa fa-window-close"
                            aria-hidden="true"></i></a>
                    <div class="transfer-title">
                        <h2 id="commonTitle">Casino</h2>
                    </div>
                    <div class="available-wrap">
                        <h4>
                            <span>Main Balance</span>
                            <label id="commonPlayerBalance">0.00</label>
                        </h4>
                        <h4>
                            <span id="commonVendorBalanceTitle">Casino Balance</span>
                            <label id="commonPlayerVendorBalance">0.00</label>
                        </h4>
                    </div>
                    <div class="transfer-content">
                        <div class="amount-input">
                            <input type="text" id="commonDeposit" onclick="" maxlength="8" placeholder="0"
                                onkeyup="return CommonTransferWalletHandler.validatePageNumber(this)">
                        </div>
                        <ul class="slider">
                            <li id="commonZeroBtn">0</li>
                            <li class="col-slider">
                                <input type="range" class="form-range" id="customRange1" min="0" max="0">
                            </li>
                            <li id="commonMaxBtn">Max</li>
                        </ul>
                    </div>
                    <p id="commonErrorMsg" class="error"></p>
                    <div class="btn-wrap">
                        <a id="commonCancelBtn" class="btn">Cancel</a>
                        <a id="openResetPasswordBtn" class="btn" style="display: none">Reset Password</a>
                        <a id="commonDepositAndLogin" class="btn-send">Transfer and Enter</a>
                    </div>
                </div>

                <div id="vendorResetPasswordDiv" class="dialog-wrap-w transfer-wrap-slider reset-wrap"
                    style="display: none">
                    <a id="closeVendorResetPasswordDiv" class="close">Close</a>
                    <div class="transfer-title">
                        <h2 id="vendorResetPasswordTitle">Reset MT5 Password</h2>
                    </div>
                    <div class="reset_con">

                        <dl class="login-panel">
                            <input type="hidden" id="rk">
                            <input type="hidden" id="isFirstLogin">
                            <dd><input maxlength="8" id="updatePassword" type="Password" placeholder="New MT5 Password">
                            </dd>
                            <dd><input maxlength="8" id="updatePasswordConfirm" type="Password"
                                    placeholder="New MT5 Password Confirm"></dd>
                            <dd><input maxlength="40" id="loginPassword" type="Password"
                                    placeholder="Your SKYEXCHANGE Password"></dd>
                            <dd><a id="vendorResetPassword" class="btn-send">Reset Password</a></dd>
                            <dd>
                                <p id="resetVendorPasswordErrorMsg" style="display: none" class="error"></p>
                            </dd>
                        </dl>
                        <ul class="note">
                            <li>Password must have 6 to 8 alphanumeric without white space</li>
                            <li>Password cannot be the same as username/nickname</li>
                            <li>Must contain at least 1 capital letter, 1 small letter and 1 number</li>
                            <li>Password must not contain any special characters (!,@,#,etc..)</li>
                        </ul>
                    </div>
                </div>
            </div>
</body>
</html>