<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="header::Layout(~{::body})">

<head>
    <meta charset="utf-8">
</head>

<body>
    <div class="container-fluid match_odds">
        <div class="row" style="background-color: #f0ece1">
            <div class="col-md-9 col-9">
                <div class="row">
                    <div class="col-md-3 col-3">
                        <div class="left-m">
                            <div class="left-top">
                                <a href="#">
                                    <span style="left: 50px; white-space: nowrap;" id="competionField"></span>
                                    <p></p>
                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                </a>
                            </div>
                            <ul class="left-ul">
                                <li>
                                    <a><i class="fas fa-circle"></i>match odds</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9 col-9 center-multi">
                        <?php include_once 'include/marquee.php'?>
                        <div class="center-m">
                            <div class="match-white">
                                <ul>
                                    <li class="left-svg"><i class="fas fa-thumbtack"></i></li>
                                    <li class="right-svg"><i class="far fa-redo-alt"></i></li>
                                </ul>
                                <ul class="odds">
                                    <span class="d-flex">
                                        <li class="odds-li">match odds</li>
                                    <li class="img-li">
                                        <img src="/user/img/alarm.png" /><span>In Play</span>
                                    </li>
                                    </span>
                                    <li class="max-li"><span>max 1600</span></li>
                                    <li class="mat-li">matched <span>PIN 0</span></li>
                                </ul>
                            </div>

                            <div id="fullMarketBetsWrap" class="bets-wrap">
                                <h3 id="lineMarketName" class="line_market-name" style="display: none">
                                    <span>1st Innings 10 Over Line</span>
                                </h3>
                                <span id="selectionCounts" class="refer_only">2 selections</span>
                                <table id="fullMarketBoard" class="bets text-center">
                                    <thead>
                                        <tr class="bet-all">
                                            <td></td>
                                            <td id="backPercent" class="refer-bet" colspan="2" style="text-align: left">
                                                101.5%
                                            </td>
                                            <td>
                                                <a id="backAll" class="back-all"><img
                                                        src="/user/img/transparent.gif" /><span>Back all</span></a>
                                            </td>
                                            <td>
                                                <a id="layAll" class="lay-all"><img
                                                        src="/user/img/transparent.gif" /><span>Lay all</span></a>
                                            </td>
                                            <td id="layPercent" class="refer-book" colspan="2"
                                                style="text-align: right">
                                                98.6%
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody id="content">
                                    </tbody>
                                </table>
                            </div>

                            <!-- BookMaker -->
                            <div class="bookmaker">
                                <h3>
                                    <i class="fas fa-thumbtack"></i> bookmaker market
                                    <span>zero commission</span>
                                </h3>
                                <p><span>min</span> 100.00 <span>max</span>62,500.00</p>
                            </div>
                            <table class="table bg-book bookMakerWrap">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td class="back" colspan="3">back</td>
                                        <td class="lay" colspan="3">lay</td>
                                    </tr>
                                </thead>
                                <tbody id="bookmakerContent">
                                </tbody>
                            </table>
                            <!-- End -->
                            <!-- Fancy -->
                            <div id="fancyBetTableDiv" class="bets-wrap fancy_bet" style="display: block"
                                name="multiMarketItem">
                                <div id="fancyBetHead" class="fancy-head">
                                    <h4 class="">
                                        <span id="headerName"> Fancy Bet</span>
                                        <a class="btn-fancybet_rules"></a>
                                    </h4>
                                    <a id="showSportsBookBtn" class="other-tab">
                                        <span class="tag-new">New</span>
                                        Premium Cricket
                                    </a>
                                </div>
                                <div id="fancyBetTabWrap" class="fancy_bet_tab-wrap">
                                    <ul class="special_bets-tab">
                                        <li class="select" id="fancyTab">
                                            <a fancybettabtype="1">All</a>
                                        </li>
                                        <li class="" id="fancy1Tab">
                                            <a fancybettabtype="2">Fancy 1</a>
                                        </li>
                                    </ul>
                                </div>
                                <table id="fancy_table_own" class="bets">
                                    <colgroup>
                                                <col span="1" width="320">
                                                <col span="1" width="70">
                                                <col span="1" width="70">
                                                <col span="1" width="70">
                                                <col span="1" width="70">
                                                <col span="1" width="70">
                                                <col span="1" width="70">
                                    </colgroup>
                                            <thead>
                                                <tr class="colgroup-adjust">
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr id="fancyBetSpecialBet" class="special_bet">
                                                    <td colspan="7">
                                                        <h3 style="line-height:25px;padding-left:5px;">
                                                            Fancy Bet
                                                        </h3>
                                                    </td>
                                                </tr>
                                                <tr class="bet-all">
                                                    <td></td>
                                                    <td class="refer-bet" colspan="2"></td>
                                                    <td>No</td>
                                                    <td>Yes</td>
                                                    <td class="refer-book" colspan="2"></td>
                                                </tr>
                                            </thead>
                                            <tbody id="fancyContent">
                                            </tbody>
                                            <colgroup>
                                                <col span="1" width="320">
                                                <col span="1" width="70">
                                                <col span="1" width="70">
                                                <col span="1" width="70">
                                                <col span="1" width="70">
                                                <col span="1" width="70">
                                                <col span="1" width="70">
                                            </colgroup>                             
                                            <thead>
                                                <tr class="colgroup-adjust">
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr id="fancyBetSpecialBet" class="special_bet">
                                                    <td colspan="7">
                                                        <h3 style="line-height:25px;padding-left:5px;">
                                                            Fancy 1
                                                        </h3>
                                                    </td>
                                                </tr>
                                                <tr class="bet-all">
                                                    <td></td>
                                                    <td class="refer-bet" colspan="2"></td>
                                                    <td>Back</td>
                                                    <td>Lay</td>
                                                    <td class="refer-book" colspan="2"></td>
                                                </tr>
                                            </thead>
                                            <tbody id="fancyContent1"></tbody>
                                      </table>
                            </div>
                            <!-- End -->

                            <!-- Sport -->
                            <div id="sportsBookWrap" class="bets-wrap sportsbook_bet" style="display: none">
                                <!-- Sportsbook bet head start -->
                                <div id="sportsBookHead" class="sportsbook-head">
                                    <h4 class="in-play">
                                        <span id="sportsBookName">Premium Cricket</span>
                                        <a id="sportsBookRules" class="btn-sportsbook_rules">Rules</a>
                                    </h4>
                                    <a id="showFancyBetBtn" class="other-tab">Fancy Bet</a>
                                    <!-- popUP -->
                                    <div id="sportsBookRulesWrap_2" class="rules-wrap" style="display: none">
                                        <h3 id="sportsbookRulesTitle">
                                            Rules of Premium Cricket
                                        </h3>
                                        <div id="sportradarCricketRules" class="rules-content">
                                            <dl class="download-list">
                                                <dt class="icon-pdf">
                                                    <a>Pre Match Market Details</a>
                                                </dt>
                                                <dd><a>download</a></dd>
                                            </dl>
                                            <dl class="download-list">
                                                <dt class="icon-pdf">
                                                    <a>In Play Market Details</a>
                                                </dt>
                                                <dd><a>download</a></dd>
                                            </dl>
                                        </div>
                                        <div id="sportradarTennisRules" class="rules-content" style="display: none">
                                            <p>General Rules:</p>
                                            <ol>
                                                <li>
                                                    In case of default, retirement or walkover of any
                                                    player, all undecided bets are considered void.
                                                </li>
                                                <li>
                                                    In case of any delay (rain, darkness...) all markets
                                                    remain unsettled and the trading will be continued
                                                    as soon as the match continues.
                                                </li>
                                                <li>
                                                    If penalty point(s) are awarded by the umpire, all
                                                    bets on that game will stand.
                                                </li>
                                                <li>
                                                    In case of a match is finished before certain
                                                    points/games were finished, all affected point/game
                                                    related markets are considered void.
                                                </li>
                                            </ol>
                                            <p>Settlement and Cancellation Rules:</p>
                                            <ol>
                                                <li>
                                                    If markets remain open with an incorrect score which
                                                    has a significant impact on the prices, we reserve
                                                    the right to void betting.
                                                </li>
                                                <li>
                                                    If the players/teams are displayed incorrectly, we
                                                    reserve the right to void betting.
                                                </li>
                                                <li>
                                                    If a player retires all undecided markets are
                                                    considered void.
                                                </li>
                                                <li>
                                                    If a match tie-break is played as a deciding set in
                                                    Bo3 format, it will be considered as the 3rd set
                                                </li>
                                                <li>
                                                    Every tie-break or Match tie-break counts as 1 game
                                                </li>
                                            </ol>
                                        </div>
                                        <div id="sportradarSoccerRules" class="rules-content" style="display: none">
                                            <dl class="download-list">
                                                <dt class="icon-pdf"><a>Market Details</a></dt>
                                                <dd><a>download</a></dd>
                                            </dl>
                                        </div>
                                        <div id="sportradarKabaddiRules" class="rules-content" style="display: none">
                                        </div>
                                        <ul class="btn-wrap break">
                                            <li><a class="btn">OK</a></li>
                                        </ul>
                                    </div>
                                    <!-- End -->
                                    <dl id="minMaxWrap_1" class="fancy-info" style="display: none">
                                        <dt><span>Min/Max</span></dt>
                                        <dd id="minMaxInfo_1">0</dd>
                                        <dt id="rebateName_1">Rebate</dt>
                                        <dd id="rebateRatio_1">0.00%</dd>
                                    </dl>
                                    <dl id="minMaxWrap_2" class="fancy-info" style="display: none">
                                        <dt><span>Min</span></dt>
                                        <dd id="minMaxInfo_2">1.0</dd>
                                        <dt id="rebateName_2" style="display: none">Rebate</dt>
                                        <dd id="rebateRatio_2" style="display: none">0.00%</dd>
                                    </dl>
                                </div>

                                <div id="sportsBookTab_2_4" class="special_bets-tab-wrap">
                                    <ul class="special_bets-tab">
                                        <li><a id="tab_All" class="tabname">All</a></li>
                                        <li><a id="tab_Popular" class="tabname">Popular</a></li>
                                        <li><a id="tab_Match" class="tabname">Match</a></li>
                                        <li><a id="tab_Innings" class="tabname">Innings</a></li>
                                        <li><a id="tab_Over" class="tabname">Over</a></li>
                                        <li class="tab_more_drop">
                                            <a id="moreDropBtn" class="tabname">More</a>
                                            <ul id="moreDropList" class="more_drop-list">
                                                <li><a id="tab_Batsman">Batsman</a></li>
                                                <li><a id="tab_Partnership">Partnership</a></li>
                                                <li><a id="tab_Group">Group</a></li>
                                                <li><a id="tab_Range">Range</a></li>
                                                <li><a id="tab_HeadtoHead">Head-to-Head</a></li>
                                                <li><a id="tab_Player">Player</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-3 right-side">
                <div class="white-right">
                    <h2 style="cursor: pointer">
                        <a>Bet Slip <span> <i class="fas fa-minus"></i></span></a>
                    </h2>
                    <p>Click on the odds to add selections to the betslip.</p>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
</body>

</html>