<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="header::Layout(~{::body})">

<head>
    <meta charset="utf-8">
</head>

<body>
    <div class="container-fluid match_odds">
        <div class="row" style="background-color: #f0ece1">
            <div class="col-md-9 col-9">
                <div class="row">
                    <div class="col-md-3 col-3">
                        <div class="left-m">
                            <div class="left-top">
                                <a href="#">
                                    <span style="left: 200px">Durgapur</span>
                                    <p></p>
                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                </a>
                            </div>
                            <ul class="left-ul">
                                <li>
                                    <a><i class="fas fa-circle"></i>match odds</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9 col-9 center-multi">
                        <?php include_once 'include/marquee.php'?>
                        <div class="center-m">
                            <div class="match-white">
                                <ul>
                                    <li class="left-svg"><i class="fas fa-thumbtack"></i></li>
                                    <li class="right-svg"><i class="far fa-redo-alt"></i></li>
                                </ul>
                                <ul class="odds">
                                    <li class="odds-li">match odds</li>
                                    <li class="img-li">
                                        <img src="/user/img/alarm.png" /><span>In Play</span>
                                    </li>
                                    <li class="max-li"><span>max 1600</span></li>
                                    <li class="mat-li">matched <span>PIN 0</span></li>
                                </ul>
                            </div>

                            <div id="fullMarketBetsWrap" class="bets-wrap">
                                <h3 id="lineMarketName" class="line_market-name" style="display: none">
                                    <span>1st Innings 10 Over Line</span>
                                </h3>
                                <span id="selectionCounts" class="refer_only">2 selections</span>
                                <table id="fullMarketBoard" class="bets text-center">
                                    <tbody>
                                        <tr class="bet-all">
                                            <td></td>
                                            <td id="backPercent" class="refer-bet" colspan="2" style="text-align: left">
                                                101.5%
                                            </td>
                                            <td>
                                                <a id="backAll" class="back-all"><img
                                                        src="/user/img/transparent.gif" /><span>Back all</span></a>
                                            </td>
                                            <td>
                                                <a id="layAll" class="lay-all"><img
                                                        src="/user/img/transparent.gif" /><span>Lay all</span></a>
                                            </td>
                                            <td id="layPercent" class="refer-book" colspan="2"
                                                style="text-align: right">
                                                98.6%
                                            </td>
                                        </tr>
                                        <tr id="fullSelection105668" style="display: table-row" eventtype="4"
                                            eventid="31112059" marketid="1_192010272" selectionid="349"
                                            eventname="South Africa v India" status="1" sortpriority="1">
                                            <th>
                                                <dl id="horseInfo" class="horse-info" style="display: none">
                                                    <dt>
                                                        <a id="marketDepthBtn" href="#"><img class="icon-predict"
                                                                src="/user/img/transparent.gif" /></a>
                                                        <ul id="horseBox" class="horse-box">
                                                            <li id="clothNumberAlpha"></li>
                                                            <li id="stallDraw"></li>
                                                        </ul>
                                                        <div id="uniform" class="uniform">
                                                            <img src="" />
                                                        </div>
                                                    </dt>
                                                    <dd>
                                                        <ul id="horseName" class="horse-name">
                                                            <li id="runnerName"></li>
                                                            <li id="jockyName"></li>
                                                        </ul>
                                                        <dl id="horseInfoHover" class="horse_info-hover">
                                                            <dt>Trainer:</dt>
                                                            <dd id="trainerName"></dd>
                                                            <dt>Age/Weight:</dt>
                                                            <dd id="ageWeight"></dd>
                                                            <dt>Form:</dt>
                                                            <dd id="form"></dd>
                                                            <dt>Days since last run:</dt>
                                                            <dd id="daysSinceLastRun"></dd>
                                                            <dt>Jockey claim:</dt>
                                                            <dd id="jockeyClam"></dd>
                                                            <dt>Wearning:</dt>
                                                            <dd id="wearing"></dd>
                                                        </dl>
                                                    </dd>
                                                </dl>

                                                <p>
                                                    <a><img class="icon-predict" src="/user/img/transparent.gif" /></a>Western
                                                    Province
                                                </p>
                                                <span id="withoutBet105668" style="display: none" class="win">0</span>
                                                <span id="lossWithoutBet" class="win" style="display: none"></span>
                                                <span id="withBet105668" style="display: none" class=""></span>
                                                <span id="lossWithBet" class="win" style="display: none"></span>
                                                <span id="zeroProfit" class="win" style="display: none"></span>
                                                <span id="zeroLiability" class="win" style="display: none"></span>
                                                <span id="zeroProfitWithBet" class="win" style="display: none"></span>
                                                <span id="zeroLiabilityWithBet" class="win"
                                                    style="display: none"></span>
                                            </th>
                                            <td id="suspend" colspan="6" class="suspend" style="display: none">
                                                <span>Suspend</span>
                                            </td>
                                            <td id="closed" colspan="6" class="suspend" style="display: none">
                                                <span>Closed</span>
                                            </td>
                                            <td id="nonRunner" colspan="6" class="suspend" style="display: none">
                                                <span>Non Runner</span>
                                            </td>
                                            <td class="back-3 back3105668"
                                                onclick="betSlipPageLoad(`Western Province`,'105668','back','Odds',3)">
                                                <a><strong id="back3Odds105668">45</strong><span
                                                        id="back3Price105668">6</span></a>
                                            </td>
                                            <td class="back-2 back2105668"
                                                onclick="betSlipPageLoad(`Western Province`,'105668','back','Odds',2)">
                                                <a><strong id="back2Odds105668">--</strong><span
                                                        id="back2Price105668">--</span></a>
                                            </td>
                                            <td class="back-1 back1105668"
                                                onclick="betSlipPageLoad(`Western Province`,'105668','back','Odds',1)">
                                                <a><strong id="back1Odds105668">--</strong><span
                                                        id="back1Price105668">--</span></a>
                                            </td>
                                            <td class="lay-1 lay1105668"
                                                onclick="betSlipPageLoad(`Western Province`,'105668','lay','Odds',1)">
                                                <a><strong id="lay1Odds105668">--</strong><span
                                                        id="lay1Price105668">--</span></a>
                                            </td>
                                            <td class="lay-2 lay2105668"
                                                onclick="betSlipPageLoad(`Western Province`,'105668','lay','Odds',2)">
                                                <a><strong id="lay2Odds105668">--</strong><span
                                                        id="lay2Price105668">--</span></a>
                                            </td>
                                            <td class="lay-3 lay3105668"
                                                onclick="betSlipPageLoad(`Western Province`,'105668','lay','Odds',3)">
                                                <a><strong id="lay3Odds105668">--</strong><span
                                                        id="lay3Price105668">--</span></a>
                                            </td>
                                            <td id="horseGreyOut" colspan="3" class="suspend" style="display: none">
                                            </td>
                                        </tr>
                                        <tr id="fullSelection4297012" style="display: table-row" eventtype="4"
                                            eventid="31112059" marketid="1_192010272" selectionid="414464"
                                            eventname="South Africa v India" status="1" sortpriority="2">
                                            <th>
                                                <dl id="horseInfo" class="horse-info" style="display: none">
                                                    <dt>
                                                        <a id="marketDepthBtn" href="#"><img class="icon-predict"
                                                                src="/user/img/transparent.gif" /></a>
                                                        <ul id="horseBox" class="horse-box">
                                                            <li id="clothNumberAlpha"></li>
                                                            <li id="stallDraw"></li>
                                                        </ul>
                                                        <div id="uniform" class="uniform">
                                                            <img src="" />
                                                        </div>
                                                    </dt>
                                                    <dd>
                                                        <ul id="horseName" class="horse-name">
                                                            <li id="runnerName"></li>
                                                            <li id="jockyName"></li>
                                                        </ul>
                                                        <dl id="horseInfoHover" class="horse_info-hover">
                                                            <dt>Trainer:</dt>
                                                            <dd id="trainerName"></dd>
                                                            <dt>Age/Weight:</dt>
                                                            <dd id="ageWeight"></dd>
                                                            <dt>Form:</dt>
                                                            <dd id="form"></dd>
                                                            <dt>Days since last run:</dt>
                                                            <dd id="daysSinceLastRun"></dd>
                                                            <dt>Jockey claim:</dt>
                                                            <dd id="jockeyClam"></dd>
                                                            <dt>Wearning:</dt>
                                                            <dd id="wearing"></dd>
                                                        </dl>
                                                    </dd>
                                                </dl>

                                                <p>
                                                    <a><img class="icon-predict"
                                                            src="/user/img/transparent.gif" /></a>Warriors
                                                </p>
                                                <span id="withoutBet4297012" style="display: none" class="win">0</span>
                                                <span id="lossWithoutBet" class="win" style="display: none"></span>
                                                <span id="withBet4297012" style="display: none" class=""></span>
                                                <span id="lossWithBet" class="win" style="display: none"></span>
                                                <span id="zeroProfit" class="win" style="display: none"></span>
                                                <span id="zeroLiability" class="win" style="display: none"></span>
                                                <span id="zeroProfitWithBet" class="win" style="display: none"></span>
                                                <span id="zeroLiabilityWithBet" class="win"
                                                    style="display: none"></span>
                                            </th>
                                            <td id="suspend" colspan="6" class="suspend" style="display: none">
                                                <span>Suspend</span>
                                            </td>
                                            <td id="closed" colspan="6" class="suspend" style="display: none">
                                                <span>Closed</span>
                                            </td>
                                            <td id="nonRunner" colspan="6" class="suspend" style="display: none">
                                                <span>Non Runner</span>
                                            </td>
                                            <td class="back-3 back34297012"
                                                onclick="betSlipPageLoad(`Warriors`,'4297012','back','Odds',3)">
                                                <a><strong id="back3Odds4297012">--</strong><span
                                                        id="back3Price4297012">--</span></a>
                                            </td>
                                            <td class="back-2 back24297012"
                                                onclick="betSlipPageLoad(`Warriors`,'4297012','back','Odds',2)">
                                                <a><strong id="back2Odds4297012">--</strong><span
                                                        id="back2Price4297012">--</span></a>
                                            </td>
                                            <td class="back-1 back14297012"
                                                onclick="betSlipPageLoad(`Warriors`,'4297012','back','Odds',1)">
                                                <a><strong id="back1Odds4297012">--</strong><span
                                                        id="back1Price4297012">--</span></a>
                                            </td>
                                            <td class="lay-1 lay14297012"
                                                onclick="betSlipPageLoad(`Warriors`,'4297012','lay','Odds',1)">
                                                <a><strong id="lay1Odds4297012">--</strong><span
                                                        id="lay1Price4297012">--</span></a>
                                            </td>
                                            <td class="lay-2 lay24297012"
                                                onclick="betSlipPageLoad(`Warriors`,'4297012','lay','Odds',2)">
                                                <a><strong id="lay2Odds4297012">--</strong><span
                                                        id="lay2Price4297012">--</span></a>
                                            </td>
                                            <td class="lay-3 lay34297012"
                                                onclick="betSlipPageLoad(`Warriors`,'4297012','lay','Odds',3)">
                                                <a><strong id="lay3Odds4297012">--</strong><span
                                                        id="lay3Price4297012">--</span></a>
                                            </td>
                                            <td id="horseGreyOut" colspan="3" class="suspend" style="display: none">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- BookMaker -->
                            <div class="bookmaker">
                                <h3>
                                    <i class="fas fa-thumbtack"></i> bookmaker market
                                    <span>zero commission</span>
                                </h3>
                                <p><span>min</span> 100.00 <span>max</span>62,500.00</p>
                            </div>
                            <table class="table bg-book bookMakerWrap">
                                <tbody>
                                    <tr>
                                        <td colspan="3"></td>
                                        <td class="back">back</td>
                                        <td class="lay">lay</td>
                                        <td colspan="2"></td>
                                    </tr>

                                    <tr class="fancy-suspend-tr">
                                        <th colspan=""></th>
                                        <td class="fancy-suspend-td" id="bookSuspendedDiv105668" colspan="6">
                                            <div id="suspendClass" class="fancy-suspend">
                                                <span id="bookSuspendedDivInfo105668">Suspend</span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr style="display: table-row">
                                        <td>
                                            <p>Western Province</p>
                                            <span id="withoutBetBook105668" style="" class="win">0</span>
                                            <span id="withBetBook105668" style="display: none"></span>
                                        </td>
                                        <td colspan="3" class="back-gradient">
                                            <dl class="">
                                                <dd id="book3back105668"
                                                    onclick="bookmakerbetSlipPageLoad(`Western Province`,'105668','back','book',1)">
                                                </dd>
                                                <dd id="book2back105668"
                                                    onclick="bookmakerbetSlipPageLoad(`Western Province`,'105668','back','book',1)">
                                                </dd>
                                                <dd class="back1grad" id="book1back105668"
                                                    onclick="bookmakerbetSlipPageLoad(`Western Province`,'105668','back','book',1)">
                                                </dd>
                                            </dl>
                                        </td>
                                        <td colspan="3" class="lay-gradient">
                                            <dl>
                                                <dd class="lay1grad" id="book1lay105668"
                                                    onclick="bookmakerbetSlipPageLoad(`Western Province`,'105668','lay','book',1)">
                                                </dd>
                                                <dd id="book2lay105668"
                                                    onclick="bookmakerbetSlipPageLoad(`Western Province`,'105668','lay','book',1)">
                                                </dd>
                                                <dd id="book3lay105668"
                                                    onclick="bookmakerbetSlipPageLoad(`Western Province`,'105668','lay','book',1)">
                                                </dd>
                                            </dl>
                                        </td>
                                    </tr>
                                    <tr id="bookMakerBetBoard105668" class="fancy-quick-tr" style="display: none"></tr>
                                    <tr class="fancy-suspend-tr">
                                        <th colspan=""></th>
                                        <td class="fancy-suspend-td" id="bookSuspendedDiv4297012" colspan="6">
                                            <div id="suspendClass" class="fancy-suspend">
                                                <span id="bookSuspendedDivInfo4297012">Suspend</span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr style="display: table-row">
                                        <td style="width: 40%">
                                            <p>Warriors</p>
                                            <span id="withoutBetBook4297012" style="" class="win">0</span>
                                            <span id="withBetBook4297012" style="display: none"></span>
                                        </td>
                                        <td colspan="3" class="back-gradient">
                                            <dl class="">
                                                <dd id="book3back4297012"
                                                    onclick="bookmakerbetSlipPageLoad(`Warriors`,'4297012','back','book',1)">
                                                </dd>
                                                <dd id="book2back4297012"
                                                    onclick="bookmakerbetSlipPageLoad(`Warriors`,'4297012','back','book',1)">
                                                </dd>
                                                <dd class="back1grad" id="book1back4297012"
                                                    onclick="bookmakerbetSlipPageLoad(`Warriors`,'4297012','back','book',1)">
                                                </dd>
                                            </dl>
                                        </td>
                                        <td colspan="3" class="lay-gradient">
                                            <dl>
                                                <dd class="lay1grad" id="book1lay4297012"
                                                    onclick="bookmakerbetSlipPageLoad(`Warriors`,'4297012','lay','book',1)">
                                                </dd>
                                                <dd id="book2lay4297012"
                                                    onclick="bookmakerbetSlipPageLoad(`Warriors`,'4297012','lay','book',1)">
                                                </dd>
                                                <dd id="book3lay4297012"
                                                    onclick="bookmakerbetSlipPageLoad(`Warriors`,'4297012','lay','book',1)">
                                                </dd>
                                            </dl>
                                        </td>
                                    </tr>
                                    <tr id="bookMakerBetBoard4297012" class="fancy-quick-tr" style="display: none"></tr>
                                </tbody>
                            </table>
                            <!-- End -->
                            <!-- Fancy -->
                            <div id="fancyBetTableDiv" class="bets-wrap fancy_bet" style="display: block"
                                name="multiMarketItem">
                                <div id="fancyBetHead" class="fancy-head">
                                    <h4 class="">
                                        <span id="headerName"> Fancy Bet</span>
                                        <a class="btn-fancybet_rules"></a>
                                    </h4>
                                    <a id="showSportsBookBtn" class="other-tab">
                                        <span class="tag-new">New</span>
                                        Premium Cricket
                                    </a>
                                </div>
                                <div id="fancyBetTabWrap" class="fancy_bet_tab-wrap" style="">
                                    <ul class="special_bets-tab">
                                        <li class="select" id="fancyTab">
                                            <a fancybettabtype="1" onclick="changeFancyView('fancy')">All</a>
                                        </li>
                                        <li class="" id="fancy1Tab">
                                            <a fancybettabtype="2" onclick="changeFancyView('fancy1')">Fancy 1</a>
                                        </li>
                                    </ul>
                                </div>

                                <p id="fancyBetNoBet" class="no_bet" style="display: none">
                                    has no markets
                                </p>

                                <table id="fancy_table_own" class="bets"></table>
                            </div>
                            <!-- End -->

                            <!-- Sport -->
                            <div id="sportsBookWrap" class="bets-wrap sportsbook_bet" style="display: none">
                                <!-- Sportsbook bet head start -->
                                <div id="sportsBookHead" class="sportsbook-head">
                                    <h4 class="in-play">
                                        <span id="sportsBookName">Premium Cricket</span>
                                        <a id="sportsBookRules" class="btn-sportsbook_rules">Rules</a>
                                    </h4>
                                    <a id="showFancyBetBtn" class="other-tab">Fancy Bet</a>
                                    <!-- popUP -->
                                    <div id="sportsBookRulesWrap_2" class="rules-wrap" style="display: none">
                                        <h3 id="sportsbookRulesTitle">
                                            Rules of Premium Cricket
                                        </h3>
                                        <div id="sportradarCricketRules" class="rules-content">
                                            <dl class="download-list">
                                                <dt class="icon-pdf">
                                                    <a>Pre Match Market Details</a>
                                                </dt>
                                                <dd><a>download</a></dd>
                                            </dl>
                                            <dl class="download-list">
                                                <dt class="icon-pdf">
                                                    <a>In Play Market Details</a>
                                                </dt>
                                                <dd><a>download</a></dd>
                                            </dl>
                                        </div>
                                        <div id="sportradarTennisRules" class="rules-content" style="display: none">
                                            <p>General Rules:</p>
                                            <ol>
                                                <li>
                                                    In case of default, retirement or walkover of any
                                                    player, all undecided bets are considered void.
                                                </li>
                                                <li>
                                                    In case of any delay (rain, darkness...) all markets
                                                    remain unsettled and the trading will be continued
                                                    as soon as the match continues.
                                                </li>
                                                <li>
                                                    If penalty point(s) are awarded by the umpire, all
                                                    bets on that game will stand.
                                                </li>
                                                <li>
                                                    In case of a match is finished before certain
                                                    points/games were finished, all affected point/game
                                                    related markets are considered void.
                                                </li>
                                            </ol>
                                            <p>Settlement and Cancellation Rules:</p>
                                            <ol>
                                                <li>
                                                    If markets remain open with an incorrect score which
                                                    has a significant impact on the prices, we reserve
                                                    the right to void betting.
                                                </li>
                                                <li>
                                                    If the players/teams are displayed incorrectly, we
                                                    reserve the right to void betting.
                                                </li>
                                                <li>
                                                    If a player retires all undecided markets are
                                                    considered void.
                                                </li>
                                                <li>
                                                    If a match tie-break is played as a deciding set in
                                                    Bo3 format, it will be considered as the 3rd set
                                                </li>
                                                <li>
                                                    Every tie-break or Match tie-break counts as 1 game
                                                </li>
                                            </ol>
                                        </div>
                                        <div id="sportradarSoccerRules" class="rules-content" style="display: none">
                                            <dl class="download-list">
                                                <dt class="icon-pdf"><a>Market Details</a></dt>
                                                <dd><a>download</a></dd>
                                            </dl>
                                        </div>
                                        <div id="sportradarKabaddiRules" class="rules-content" style="display: none">
                                        </div>
                                        <ul class="btn-wrap break">
                                            <li><a class="btn">OK</a></li>
                                        </ul>
                                    </div>
                                    <!-- End -->
                                    <dl id="minMaxWrap_1" class="fancy-info" style="display: none">
                                        <dt><span>Min/Max</span></dt>
                                        <dd id="minMaxInfo_1">0</dd>
                                        <dt id="rebateName_1">Rebate</dt>
                                        <dd id="rebateRatio_1">0.00%</dd>
                                    </dl>
                                    <dl id="minMaxWrap_2" class="fancy-info" style="display: none">
                                        <dt><span>Min</span></dt>
                                        <dd id="minMaxInfo_2">1.0</dd>
                                        <dt id="rebateName_2" style="display: none">Rebate</dt>
                                        <dd id="rebateRatio_2" style="display: none">0.00%</dd>
                                    </dl>
                                </div>

                                <div id="sportsBookTab_2_4" class="special_bets-tab-wrap">
                                    <ul class="special_bets-tab">
                                        <li><a id="tab_All" class="tabname">All</a></li>
                                        <li><a id="tab_Popular" class="tabname">Popular</a></li>
                                        <li><a id="tab_Match" class="tabname">Match</a></li>
                                        <li><a id="tab_Innings" class="tabname">Innings</a></li>
                                        <li><a id="tab_Over" class="tabname">Over</a></li>
                                        <li class="tab_more_drop">
                                            <a id="moreDropBtn" class="tabname">More</a>
                                            <ul id="moreDropList" class="more_drop-list">
                                                <li><a id="tab_Batsman">Batsman</a></li>
                                                <li><a id="tab_Partnership">Partnership</a></li>
                                                <li><a id="tab_Group">Group</a></li>
                                                <li><a id="tab_Range">Range</a></li>
                                                <li><a id="tab_HeadtoHead">Head-to-Head</a></li>
                                                <li><a id="tab_Player">Player</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-3 right-side">
                <div class="white-right">
                    <h2 style="cursor: pointer">
                        <a>Bet Slip <span> <i class="fas fa-minus"></i></span></a>
                    </h2>
                    <p>Click on the odds to add selections to the betslip.</p>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
</body>

</html>